extends ./base

block vars
	- const title = 'User';
	- const url = `${config.url}/@${(user.host ? `${user.username}@${user.host}` : user.username)}`;

block title
	= `${instanceName}`

block desc
	meta(name='description' content='Login required')

block og
	meta(property='og:type'        content='blog')
	meta(property='og:title'       content= title)
	meta(property='og:url'         content= url)

block meta
	meta(name='robots' content='noindex')

